# coding: utf-8

"""
    Digital Bible Platform

    Fast, easy, and free API access to video, audio, and text Bibles.  # noqa: E501

    The version of the OpenAPI document: 4.0.0-beta
    Contact: support@digitalbibleplatform.com
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from openapi_client.api_client import ApiClient
from openapi_client.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)


class AnnotationsApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def v4_users_download(self, user_id, bible_id, book_id, chapter, v, **kwargs):  # noqa: E501
        """Download annotations for specific user and bible fileset  # noqa: E501

        For a given fileset return content (text, audio or video)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v4_users_download(user_id, bible_id, book_id, chapter, v, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param Id user_id: The User ID (required)
        :param Id bible_id: Will filter the results by the given bible (required)
        :param Id book_id: Will filter the results by the given book. For a complete list see the `book_id` field in the `/bibles/books` route. (required)
        :param ChapterStart chapter: Will filter the results by the given chapter (required)
        :param int v: The Version Number (required)
        :param str notes_sort_by: The field to sort by for the notes
        :param str bookmarks_sort_by: The field to sort by for the bookmarks
        :param str highlights_sort_by: The field to sort by for the highlights
        :param str sort_dir: The direction to sort by
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.v4_users_download_with_http_info(user_id, bible_id, book_id, chapter, v, **kwargs)  # noqa: E501

    def v4_users_download_with_http_info(self, user_id, bible_id, book_id, chapter, v, **kwargs):  # noqa: E501
        """Download annotations for specific user and bible fileset  # noqa: E501

        For a given fileset return content (text, audio or video)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v4_users_download_with_http_info(user_id, bible_id, book_id, chapter, v, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param Id user_id: The User ID (required)
        :param Id bible_id: Will filter the results by the given bible (required)
        :param Id book_id: Will filter the results by the given book. For a complete list see the `book_id` field in the `/bibles/books` route. (required)
        :param ChapterStart chapter: Will filter the results by the given chapter (required)
        :param int v: The Version Number (required)
        :param str notes_sort_by: The field to sort by for the notes
        :param str bookmarks_sort_by: The field to sort by for the bookmarks
        :param str highlights_sort_by: The field to sort by for the highlights
        :param str sort_dir: The direction to sort by
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(object, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'user_id',
            'bible_id',
            'book_id',
            'chapter',
            'v',
            'notes_sort_by',
            'bookmarks_sort_by',
            'highlights_sort_by',
            'sort_dir'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v4_users_download" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'user_id' is set
        if self.api_client.client_side_validation and ('user_id' not in local_var_params or  # noqa: E501
                                                        local_var_params['user_id'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `user_id` when calling `v4_users_download`")  # noqa: E501
        # verify the required parameter 'bible_id' is set
        if self.api_client.client_side_validation and ('bible_id' not in local_var_params or  # noqa: E501
                                                        local_var_params['bible_id'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `bible_id` when calling `v4_users_download`")  # noqa: E501
        # verify the required parameter 'book_id' is set
        if self.api_client.client_side_validation and ('book_id' not in local_var_params or  # noqa: E501
                                                        local_var_params['book_id'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `book_id` when calling `v4_users_download`")  # noqa: E501
        # verify the required parameter 'chapter' is set
        if self.api_client.client_side_validation and ('chapter' not in local_var_params or  # noqa: E501
                                                        local_var_params['chapter'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `chapter` when calling `v4_users_download`")  # noqa: E501
        # verify the required parameter 'v' is set
        if self.api_client.client_side_validation and ('v' not in local_var_params or  # noqa: E501
                                                        local_var_params['v'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `v` when calling `v4_users_download`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'user_id' in local_var_params:
            path_params['user_id'] = local_var_params['user_id']  # noqa: E501
        if 'bible_id' in local_var_params:
            path_params['bible_id'] = local_var_params['bible_id']  # noqa: E501
        if 'book_id' in local_var_params:
            path_params['book_id'] = local_var_params['book_id']  # noqa: E501
        if 'chapter' in local_var_params:
            path_params['chapter'] = local_var_params['chapter']  # noqa: E501

        query_params = []
        if 'notes_sort_by' in local_var_params and local_var_params['notes_sort_by'] is not None:  # noqa: E501
            query_params.append(('notes_sort_by', local_var_params['notes_sort_by']))  # noqa: E501
        if 'bookmarks_sort_by' in local_var_params and local_var_params['bookmarks_sort_by'] is not None:  # noqa: E501
            query_params.append(('bookmarks_sort_by', local_var_params['bookmarks_sort_by']))  # noqa: E501
        if 'highlights_sort_by' in local_var_params and local_var_params['highlights_sort_by'] is not None:  # noqa: E501
            query_params.append(('highlights_sort_by', local_var_params['highlights_sort_by']))  # noqa: E501
        if 'sort_dir' in local_var_params and local_var_params['sort_dir'] is not None:  # noqa: E501
            query_params.append(('sort_dir', local_var_params['sort_dir']))  # noqa: E501
        if 'v' in local_var_params and local_var_params['v'] is not None:  # noqa: E501
            query_params.append(('v', local_var_params['v']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['dbp_key']  # noqa: E501

        return self.api_client.call_api(
            '/users/{user_id}/annotations/{bible_id}/{book_id}/{chapter}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)
