# coding: utf-8

"""
    Digital Bible Platform

    Fast, easy, and free API access to video, audio, and text Bibles.  # noqa: E501

    The version of the OpenAPI document: 4.0.0-beta
    Contact: support@digitalbibleplatform.com
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from openapi_client.api_client import ApiClient
from openapi_client.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)


class ArclightApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def v4_video_jesus_film_languages(self, v, **kwargs):  # noqa: E501
        """Returns detailed metadata for a single Bible arclight  # noqa: E501

        Returns detailed metadata for a single Bible arclight  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v4_video_jesus_film_languages(v, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param int v: The Version Number (required)
        :param  UNKNOWN_PARAMETER_NAME:
        :param  UNKNOWN_PARAMETER_NAME2:
        :param  UNKNOWN_PARAMETER_NAME2:
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.v4_video_jesus_film_languages_with_http_info(v, **kwargs)  # noqa: E501

    def v4_video_jesus_film_languages_with_http_info(self, v, **kwargs):  # noqa: E501
        """Returns detailed metadata for a single Bible arclight  # noqa: E501

        Returns detailed metadata for a single Bible arclight  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v4_video_jesus_film_languages_with_http_info(v, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param int v: The Version Number (required)
        :param  UNKNOWN_PARAMETER_NAME:
        :param  UNKNOWN_PARAMETER_NAME2:
        :param  UNKNOWN_PARAMETER_NAME2:
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'v',
            'UNKNOWN_PARAMETER_NAME',
            'UNKNOWN_PARAMETER_NAME2',
            'UNKNOWN_PARAMETER_NAME2'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v4_video_jesus_film_languages" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'v' is set
        if self.api_client.client_side_validation and ('v' not in local_var_params or  # noqa: E501
                                                        local_var_params['v'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `v` when calling `v4_video_jesus_film_languages`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'UNKNOWN_PARAMETER_NAME' in local_var_params and local_var_params['UNKNOWN_PARAMETER_NAME'] is not None:  # noqa: E501
            query_params.append(('show_detail', local_var_params['UNKNOWN_PARAMETER_NAME']))  # noqa: E501
        if 'UNKNOWN_PARAMETER_NAME2' in local_var_params and local_var_params['UNKNOWN_PARAMETER_NAME2'] is not None:  # noqa: E501
            query_params.append(('metadata_tag', local_var_params['UNKNOWN_PARAMETER_NAME2']))  # noqa: E501
        if 'UNKNOWN_PARAMETER_NAME2' in local_var_params and local_var_params['UNKNOWN_PARAMETER_NAME2'] is not None:  # noqa: E501
            query_params.append(('iso', local_var_params['UNKNOWN_PARAMETER_NAME2']))  # noqa: E501
        if 'v' in local_var_params and local_var_params['v'] is not None:  # noqa: E501
            query_params.append(('v', local_var_params['v']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['dbp_key']  # noqa: E501

        return self.api_client.call_api(
            '/arclight/jesus-film/languages', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)
