# coding: utf-8

"""
    Digital Bible Platform

    Fast, easy, and free API access to video, audio, and text Bibles.  # noqa: E501

    The version of the OpenAPI document: 4.0.0-beta
    Contact: support@digitalbibleplatform.com
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from openapi_client.api_client import ApiClient
from openapi_client.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)


class LibraryTextApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def v4_bible_verseinfo(self, fileset_id, book, chapter, v, **kwargs):  # noqa: E501
        """Returns Signed URLs or Text  # noqa: E501

        V4's base fileset route  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v4_bible_verseinfo(fileset_id, book, chapter, v, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param Id fileset_id: The Bible fileset ID (required)
        :param Id book: The Book ID. For a complete list see the `book_id` field in the `/bibles/books` route. (required)
        :param ChapterStart chapter: The chapter number (required)
        :param int v: The Version Number (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: list[object]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.v4_bible_verseinfo_with_http_info(fileset_id, book, chapter, v, **kwargs)  # noqa: E501

    def v4_bible_verseinfo_with_http_info(self, fileset_id, book, chapter, v, **kwargs):  # noqa: E501
        """Returns Signed URLs or Text  # noqa: E501

        V4's base fileset route  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v4_bible_verseinfo_with_http_info(fileset_id, book, chapter, v, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param Id fileset_id: The Bible fileset ID (required)
        :param Id book: The Book ID. For a complete list see the `book_id` field in the `/bibles/books` route. (required)
        :param ChapterStart chapter: The chapter number (required)
        :param int v: The Version Number (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(list[object], status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'fileset_id',
            'book',
            'chapter',
            'v'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v4_bible_verseinfo" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'fileset_id' is set
        if self.api_client.client_side_validation and ('fileset_id' not in local_var_params or  # noqa: E501
                                                        local_var_params['fileset_id'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `fileset_id` when calling `v4_bible_verseinfo`")  # noqa: E501
        # verify the required parameter 'book' is set
        if self.api_client.client_side_validation and ('book' not in local_var_params or  # noqa: E501
                                                        local_var_params['book'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `book` when calling `v4_bible_verseinfo`")  # noqa: E501
        # verify the required parameter 'chapter' is set
        if self.api_client.client_side_validation and ('chapter' not in local_var_params or  # noqa: E501
                                                        local_var_params['chapter'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `chapter` when calling `v4_bible_verseinfo`")  # noqa: E501
        # verify the required parameter 'v' is set
        if self.api_client.client_side_validation and ('v' not in local_var_params or  # noqa: E501
                                                        local_var_params['v'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `v` when calling `v4_bible_verseinfo`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'fileset_id' in local_var_params and local_var_params['fileset_id'] is not None:  # noqa: E501
            query_params.append(('fileset_id', local_var_params['fileset_id']))  # noqa: E501
        if 'book' in local_var_params and local_var_params['book'] is not None:  # noqa: E501
            query_params.append(('book', local_var_params['book']))  # noqa: E501
        if 'chapter' in local_var_params and local_var_params['chapter'] is not None:  # noqa: E501
            query_params.append(('chapter', local_var_params['chapter']))  # noqa: E501
        if 'v' in local_var_params and local_var_params['v'] is not None:  # noqa: E501
            query_params.append(('v', local_var_params['v']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml', 'text/x-yaml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['dbp_key']  # noqa: E501

        return self.api_client.call_api(
            '/bibles/{fileset_id}/{book}/{chapter}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[object]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)
